APP_NAME= "Mini-Rag"
APP_VERSION= "0.1"
OPENAI_API_KEY= "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"
